/* code inspo from https://www.w3schools.com/howto/howto_js_slideshow.asp */
#code-projects, #art-projects {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: auto;
  align-items: center;  
  justify-content: center;
  width: 75vw;
  background-color: #04202b4d;
  border-radius: 40px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px;

  .picture {
    margin: 20px;
    height: 50vh;
    width: min-content;

    img {
      height: 40vh;
      width: auto;
    }
  }
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65vw;
  margin: 0 5% 0 5%;

  h2 {
    margin: 10px 0 0 0;
  }

  .description {
    margin: 10px 20px 0 20px;
    text-align: left;
    height: 17vh
  }
  .skills {
    margin: 10px 20px 20px 20px;
    text-align: center;
    font-style: italic;
    height: 8vh;
  }
}

.prev, .next {
  cursor: pointer;
  width: auto;
  height: 55px;
  padding: 16px;
  color: #ecfaff;
  background-color: #04202b;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 3px;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  animation-name: fade;
  animation-duration: 0.75s;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 0.5}
  to {opacity: 1}
}

@media only screen and (max-width: 805px) {
  #code-projects, #art-projects {
    width: 90vw;
    .picture {
      margin: 10px;
      height: auto;
      width: min-content;
      max-height: 40vh !important;
      max-width: 70vw !important;

      img {
        height: auto;
        width: auto;
        max-height: 35vh !important;
        max-width: 70vw !important;
      }
    }
  }
  .slide {
    width: 80vw;
    margin: 0 2% 0 2%;

    .description {
      height: 20vh;
    }
    .skills {
      height: auto;
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  #code-projects, #art-projects {
    width: 90vw;
    .picture {
      margin: 10px;
      height: auto;
      width: min-content;
      max-height: auto !important;
      max-width: 70vw !important;

      img {
        height: auto;
        width: auto;
        max-height: 70vh !important;
        max-width: 70vw !important;
      }
    }
  }
  .slide {
    width: 80vw;
    margin: 0 2% 0 2%;

    .description {
      height: 50vh;
    }
    .skills {
      height: 20vh;
    }
  }
}