/* assistance from https://codepen.io/alvarotrigo/pen/QWqLEGL */
h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.timeline-container {
    padding-left: 10px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    height: 60vh;
    width: fit-content;

    .squished {
        width: 0px !important;
        height: 0px;
        padding: 0 !important;
        z-index: 10 !important;
        position: relative;
        display: none;
        
        h3 {
            visibility: hidden;
        }
        h4 {
            visibility: hidden;
        }
    }

    &.one {
        left: 10px
    }
    &.two {
        left: 20px
    }
    &.three {
        left:30px;
    }
    &.four {
        left: 40px;
    }

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ul li {
        position:relative;
        list-style-type: none;
        border-left: solid 75px #04202b;
        cursor: pointer;

        .card {
            margin: 0;
            width: 500px;
            min-height: 300px;
            padding: 15px;
            border-radius: 5px;
            background-color: #04202b;
            color: #ecfaff;
            border: none;
            z-index: 1000;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-5%, -40%);
            box-shadow: 4px 4px 9px 1px rgba(0, 0, 0, 0.4);

            .title {
                font-weight: bold;
                font-size: 18px;
                display: block;
                margin-bottom: 10px;
            }

            a { 
                color: #ecfaff !important;
                text-decoration: underline;
                &:visited {
                  color: #ecfaff !important;  
                }
            }

            .card-body {
                text-align: left;
                z-index: 10;
            
                p {
                    font-weight:unset;
                    margin: 10px 0;
                }
            }
        }

        
        &.empty { 
            visibility: hidden;
        }

        &.green {
            border-color: #03562d;
            color: #ecfaff;

            .card {
                background-color: #03562d;
            }
            &.light {
                border-color: #4d9772;

                .card {
                    background-color: #4d9772;
                }
            }
        }

        &.purple {
            border-color: #672477;
            color: #ecfaff;

            .card {
                background-color: #672477;
            }
            &.light {
                border-color: #614b67;

                .card {
                    background-color: #614b67;
                }
            }
        }

        &.orange {
            border-color: #b75105;
            
            .card {
                background-color: #b75105;
            }
            &.light {
                border-color: #8f6546;

                .card {
                    background-color: #8f6546;
                }
            }
        }
        
        &.zero_month,
        &.one_month {
            height: calc(1px * 5.5);
        }
        &.two_month {
            height: calc(2px * 5.5);
        }
        &.three_month {
            height: calc(3px * 5.5);
        }
        &.four_month {
            height: calc(4px * 5.5);
        }
        &.five_month {
            height: calc(5px * 5.5);
        }
        &.six_month {
            height: calc(6px * 5.5);
        }
        &.eight_month {
            height: calc(8px * 5.5);
        }
        &.ten_month {
            height: calc(10px * 5.5);
        }
        &.eleven_month {
            height: calc(11px * 5.5);
        }
        &.thirteen_month {
            height: calc(13px * 5.5);
        }
        &.fourteen_month {
            height: calc(14px * 5.5);
        }
        &.sixteen_month {
            height: calc(16px * 5.5);
        }
        &.thirty_one_month {
            height: calc(31px * 5.5);
        }
        &.thirty_two_month {
            height: calc(32px * 5.5);
        }
        &.thirty_four_month {
            height: calc(34px * 5.5);
        }
        &.thirty_six_month {
            height: calc(36px * 5.5);
        }
        &.thirty_seven_month {
            height: calc(37px * 5.5);
        }
        &.fourty_four_month {
            height: calc(44px * 5.5);
        }
    }
}
.mobile-timeline {
    display: none;
}