{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" href="../static/modules/timeline.css">
    <div class="about">
        <span class="text">
            <h1>About Me</h1>
            <p>I have 3 years of experience as a Full Stack Web Developer and Masters and Bachelors in Computer Science from Eastern Michigan University.</p>
            <p>Advanced proficiency in HTML, CSS, SCSS, JavaScript, TypeScript, Vue.js, Vutify, React.js, Bootstrap, Django, Python, Flask, Jinja, PHP, MySQL, UI Design.</p>
            <p>Intermediate proficiency in Adobe Suite, Lucidpress, Figma Jira, Trello.</p>
            <p>Full Stack Web Developer; MS in Computer Science from EMU</p>
        </span>
        <span>
            <h2>Experience</h2>
            {# timeline help from https://codepen.io/alvarotrigo/pen/QWqLEGL #}
            <div class="timeline-container">
                {% from "timelines.html" import timelines %}
                {{ timelines(context.timeline_items_1, 'one') }}
                {{ timelines(context.timeline_items_2, 'two') }}
                {{ timelines(context.timeline_items_3, 'three') }}
                {{ timelines(context.timeline_items_4, 'four') }}
                <script>
                    function togglePopup(item) {
                        item.querySelector('.card').classList.toggle('squished')
                    }
                </script>
            </div>
        </span>
    </div>
{% endblock %}