<!-- code inspo from https://www.w3schools.com/howto/howto_js_slideshow.asp -->
{% macro carousel(projects, set) %}
<link rel="stylesheet" href="../static/modules/carousel.css">

<button class="prev" onclick="plusSlides(-1, {{set}})">&#10094;</button>
{% for project in projects %}
    <div class="slide">
        <h3><a href="{{ project.link }}" target="_blank">{{ project.name }}</a></h3>
        <div class="picture">
            <img src="{{ project.src }}" alt="{{ project.alt }}">
            <p>{{project.caption}}</p>
        </div>
        <p>{{ project.description }}</p>
        <p>{{ project.skills }}</p>
    </div>
{% endfor %}
<button class="next" onclick="plusSlides(1, {{set}})">&#10095;</button>
{% endmacro %}