{% macro carousel(projects) %}
<link rel="stylesheet" href="../static/carousel.css">
<div class="carousel">
    {% for project in projects %}
        <div class="slide">
            <h3><a href="{{ project.link }}">{{ project.name }}</a></h3>
            <p>{{ project.description }}</p>
            <div class="picture">
                <img src="{{ project.src }}" alt="{{ project.alt }}">
                <p>{{project.caption}}</p>
            </div>
        </div>
    {% endfor %}
</div>
<!-- <script src="../static/carousel.js"></script> -->
{% endmacro %}