{% extends "layout.html" %}
{% block content %}
    <div class="picture float-right home">
        <img src="..\static\assets\MabelMetalBowl.jpg" alt="Mabel looking out the window with her metal bowl">
        <p>Mabel looking out the window with her metal bowl</p>
    </div>
    <h1>Hi! I'm Sarah Yaw</h1>
    <h2>I love coding because I love the puzzle solving that comes with it. I also love art (almost any kind) and music and my doggie.</h2>
    <div class="picture float-left home">
        <img src="..\static\assets\PennyMabelLeaves.jpg" alt="Penny and Mabel laying in a pile of leaves">
        <p>Mabel and her sister Penny playing in the leaves</p>
    </div>
    <h3>I have 3 years of experience as a Full Stack Web Developer and Masters and Bachelors in Computer Science from Eastern Michigan University.</h3>
    <h3>Advanced proficiency in HTML, CSS, SCSS, JavaScript, TypeScript, Vue.js, Vutify, React.js, Bootstrap, Django, Python, PHP, MySQL, UI Design.</h3>
    <h3>Intermediate proficiency in Adobe Suite, Lucidpress, Figma Jira, Trello.</h3>
{% endblock %}