{% extends "layout.html" %}
{% block content %}
    <div class="picture float-right home" style="margin-right: 0">
        <img src="..\static\assets\MabelMetalBowl.jpg" alt="Mabel looking out the window with her metal bowl">
        <p>Mabel looking out the window with her metal bowl</p>
    </div>
    <h1>Hi! I'm Sarah Yaw &nbsp; &nbsp; ʕ·͡ᴥ·ʔฅ❀</h1>
    <h2>I love coding because I love the puzzle solving that comes with it. I also love art, music, video games, and my doggie.</h2>
    <div class="picture float-left home" style="margin-left: 0">
        <img src="..\static\assets\PennyMabelLeaves.jpg" alt="Penny and Mabel laying in a pile of leaves">
        <p>Mabel and her sister Penny playing in the leaves</p>
    </div>
    <p> &nbsp; &nbsp; I'm a Web Developer currently living in Ohio. I have Masters and Bachelors in Computer Science from Eastern Michigan University. I didn't know what to do in college, so I tried computeer science since I had a fun web design class in high school, and fell in love with it.</p>
    <p>Advanced proficiency in HTML, CSS, SCSS, JavaScript, TypeScript, Vue.js, Vutify, React.js, Bootstrap, Django, Python, PHP, Databases, UI Design.</p>
    <p>Intermediate proficiency in Adobe Suite, Lucidpress, Figma Jira, Trello.</p>
{% endblock %}