{% extends "layout.html" %}
{% block content %}
    <h1>Some Things I've Made &nbsp; &nbsp; ୧ʕ•̀ᴥ•́ʔ୨</h1>
    <p>The top list here is of code projects I've done for work and school. The second list has some art projects I've made that I think look neat</p>
    <p>More professional info on <a href="https://github.com/SarahYaw" target="_blank">GitHub</a> and <a href="https://www.linkedin.com/in/sarah-yaw-96310b148" target="_blank">LinkedIn</a></p>
    <h2>Coding</h2>
    {% from "carousel.html" import carousel %}
    <div id="code-projects">
        {{ carousel(context.code_projects, 0) }}
    </div>
    <h2>Artistic Endeavors</h2>
    <div id="art-projects">
        {{ carousel(context.art_projects, 1) }}
    </div>
    <script src="../static/modules/carousel.js"></script>
{% endblock %}