<!-- assistance from https://codepen.io/alvarotrigo/pen/QWqLEGL -->
{% macro timelines(timeline, number) %}
<div class="timeline {{number}}">
    <ul class="timeline-events">
        {% for item in timeline %}
        <li class="{{item.tags}}" onmouseover="togglePopup(this)" onmouseout="togglePopup(this)" onclick="toggleCardView(this)">
            <div class="card squished">
                <!-- TODO: make the title a thing everything else collapses under until hover/click -->
                {% if item.link %}
                <p class="title"><a href={{item.link}} target="_blank">{{item.title}}</a></p>
                {% else %}
                <p class="title">{{item.title}}</p>
                {% endif %}
                    <h4>{{item.employer}}</h4>
                    <h4>{{item.duration}}</h4>
                    {% if item.location %}
                    <h4>{{item.location}}</h4>
                    {% endif %}
                {% if item.description %}
                    <div class="card-body">
                        <p> &nbsp; &nbsp; {{item.description}}</p>
                        {% if item.skills %}
                        <p><strong>Skills:</strong> {{item.skills}}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}