html {
    background-image: radial-gradient(circle at center, #ff00601c, #ffff001c, #ecfaff 60%); /* , url('./assets/binary.png'); */
    background-size: 100vw 210vh;
}
body {
    /* background-color: #ecfaff; */
    color: #04202b;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
nav {
    background-color: #04202b;
    color: #ecfaff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;  
    justify-content: end;
    gap: 2rem;
    font-size: x-large;
    margin-right: 3rem;
}
nav ul a {
    color: #ecfaff;
    text-decoration: none;
    font-weight: bold;
}
nav ul a.selected {
    text-decoration: underline;
    text-decoration-style: dotted;
    color: steelblue;
    text-decoration-thickness: 5px;  
}
main {
    padding: 5rem 2rem 2rem 2rem;
    min-height: 88vh; /* Ensure main takes up enough space */
    max-width: 1920px;
    margin:auto
}
main p {
    font-size: large;
    margin: 0.5em 0 0.5em 0;
    line-height: 1.5;
}
main a {
    color: steelblue;
    text-decoration: underline;
    &:visited {
        color: steelblue;
    }
}
.float-right{
    float: right;
    margin: 0 0 10px 10px;
}
.float-left{
    float: left;
    margin: 0 0 10px 10px;
}
.float-bottom {
    position: absolute;
    bottom: 5%;
}
.d-none {
    display: none !important;
}
.picture {
    width: 500px;
    height: auto;
    text-align: center;
    background-color: antiquewhite;
    color: #04202b;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 5px;
    margin: 0 50px 0 50px;
}
.picture img {
    display: block;
    width: 500px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #ccbaa3;
}
.picture p{
    font-size: medium;
    margin: 5px 0 0 0;
}
.picture.home {
    width: 400px;

    img {
        width: 400px
    }
}
.contact-border {
    position: absolute;
    right: 3vw;
    background-image: linear-gradient(to right, #04202b, lightblue, lavenderblush, khaki); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;
}
.contact {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: floralwhite;

    h1 {
        margin: 5px 0 5px 0;
    }
}
footer{
    position: fixed;
    bottom:0;
    right: 10px;
    font-size: x-small;
}

@media only screen and (max-width: 700px) {
    main {
        padding: 3rem 1rem 1rem 1rem !important;
    }
    .contact-border,
    .float-bottom {
        position: relative;
    }
    .contact h1 {
        font-size: larger;
    }
    .picture.home,
    .timeline-container,
    .timeline-hint {
        display:none !important;
    }
    .mobile-timeline {
        display: block !important;
        .card {
            background-color: #04202b;
            color: white;
            padding: 10px;
            border-radius: 10px;
            
            &.empty {
                display: none;
            }
            &.zero_month,
            &.one_month,
            &.two_month,
            &.three_mont,
            &.four_month,
            &.five_month,
            &.six_month,
            &.eight_month,
            &.ten_month,
            &.eleven_month,
            &.thirteen_month,
            &.fourteen_month,
            &.sixteen_month,
            &.thirty_one_month,
            &.thirty_two_month,
            &.thirty_four_month,
            &.thirty_six_month,
            &.thirty_seven_month, 
            &.fourty_four_month {
                margin: 10px 0;
            }
            
            &.green {
                background-color: #03562d;
            }
            &.orange {
                background-color: #b75105;
            }
            &.purple {
                background-color: #672477;
            }

            a { 
                color: #ecfaff !important;
                text-decoration: underline;
                &:visited {
                  color: #ecfaff !important;  
                }
            }
        }
    }
    h2 {
        margin: 10px 0 !important;
    }
    #code-projects,
    #art-projects {
        margin: 2px !important;
        width: auto !important;
        padding: 10px 0 !important;

        .picture {
            margin: 10px 2px !important;
            width: auto !important;
            img {
                margin: 0;
                width: 100% !important;
            }
        }
        .slide {
            margin: 0;
            width: 100%;
        }
        .prev, .next {
            padding: 8px;;
        }
        h2 {
            font-size: medium;
        }
    }
}